* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

/* Style de base pour la balise <a> */
a {
  text-decoration: none; /* Supprimer la soulignement par défaut */
  color: #fff; /* Couleur du texte */
  background-color: #c4832d; /* Couleur de fond */
  padding: 5px 10px; /* Espacement interne */
  border: 2px solid #d8ac1e; /* Bordure solide */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Transition fluide pour les changements */
  margin: 20px;
}

/* Style au survol de la souris */
a:hover {
  background-color: #0056b3; /* Nouvelle couleur de fond au survol */
  border-color: #0056b3; /* Nouvelle couleur de bordure au survol */
}
  
/*======================
    404 page
=======================*/
  
  .four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
  }
   
   
  .four_zero_four_bg h1 {
    font-size:80px;
  }
         
  .link_404{			 
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
  }

  .contant_box_404{ 
    margin-top:-50px;
    text-align: center;
  }