* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
    

@font-face {
    font-family: 'movie';
    src: url("../font/film_premieres/Film\ Premieres.otf") format(opentype);
}

.custom_font {
    font-family: 'movie';
    font-size: 60px;
    text-align: left;
    color: red;
    transform: translateY(10px);
    text-decoration: none;
}

.custom_font:hover {
    text-shadow: 0 0 10px #ff5a5a;
}

.bg {
    background-color: black;
}

header {
    border: solid 1px black;
}

.btn-outline-dark {
    margin-left: 5px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* pour un ratio 1:1 (carré) */
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container img {
    object-fit: contain; /* pour éviter de déformer l'image */
    width: 100%;
    height: 100%;
}

.image-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-weight: bold;
}

/*======================
  table de data (user, movie)
=======================*/

.dataList {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  
  .dataList table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dataList th,
  .dataList td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .dataList th {
    background-color: #f3f3f3;
    font-size: 18px;
    color: #333;
  }
  
  .dataList tr:hover {
    background-color: #f9f9f9;
  }
  
  .dataList form {
  display: inline-block;
  }
  
  .dataList input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .dataList input[type="submit"]:hover {
    background-color: #555;
  }

/*======================
  Profile page
=======================*/

.profile {
    width: 65%;
    margin: 0 auto;
    padding: 50px;
    height: 100%;
}

.profile h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.profile p {
    color: #333;
    font-size: 15px;
    margin-bottom: 10px;
}

.content {
    min-height: 250px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 25px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* positionnement relatif pour le conteneur de l'input field et de la liste */
}